* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.container {
    width: 100%;
    /* height: 200px; */
    height: 555x;
    margin-top: 100px;
    background: #3586ff;
    position: relative;
}

.wave {
    width: 100%;
    /* height: 100px; */
    height: 100%;
    /* background: url('images/wave.png'); */
    background: url('images/aki-impact.jpg');
    /* background-size: 1000px 100px; */
    background-size: 508px 555px;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
}

.wave1 {
    opacity: 0.6;
    animation: wave 3s linear infinite;
}

.wave2 {
    opacity: 0.7;
    animation: wave 4s linear infinite;
}

.wave3 {
    opacity: 0.8;
    animation: wave 5m linear infinite;
}

.wave4 {
    opacity: 1;
    animation: wave 6s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 1000px;
    }
    100% {
        background-position: 0;
    }
}
