* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
}
.section {
    position: relative;
    width: 100%;
    scroll-snap-align: start;
    height: 100%;
}
.section:nth-child(1) {
    background: url('./images/LINE_ALBUM_0126_260206_1.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section:nth-child(2) {
    background: url('./images/LINE_ALBUM_0126_260206_2.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section:nth-child(3) {
    background: url('./images/LINE_ALBUM_20261_260206_2.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section:nth-child(4) {
    background: url('./images/LINE_ALBUM_0126_260206_4.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section:nth-child(5) {
    background: url('./images/LINE_ALBUM_20261_260206_6.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 700px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
}
.content h2 {
    font-size: 32px;
}
