th {
    border: 1px solid black;
}
td {
    border: 2px solid gray;
    color: rgb(70, 229, 229);
    background-color: rgb(77, 60, 49);
}
body {
    background-image: url(./images/cat4-big.jpg);
    text-shadow: 1px 1px 2px rgb(254, 254, 254);
}
