.faq dt:hover {
    text-decoration: underline;
}
.faq dt::after {
    /* font-family: 'FontAwesome'; */
    content: '\25bc';
    float: left;
    color: #e5e5e5;
}
.faq dt.open::after {
    /* 開いたとき。追記 */
    content: '\25b2';
}
.faq dd {
    display: none; /*後から追加 */
    background-color: #fff;
    padding: 20px;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}
.faq dd + dt {
    margin-top: 5px;
}
/* 親要素であるbody全体をレイアウトの土台にする */
body {
    margin: 0; /* ブラウザ標準の余白をリセット */
    display: flex; /* Flexbox（整列モード）を開始 */
    justify-content: center; /* 【左右】の真ん中に寄せる */
    /* align-items: center; 【上下】の真ん中に寄せる */
    /*min-height: 100vh; 画面の高さを100%確保（これがないと上下中央にならない） */
}

/* 質問リストの幅を整える（お好みで） */
.questions {
    width: 70%; /* スマホで見てもはみ出さないように */
    max-width: 600px; /* PCで見たときに広がりすぎないように制限 */
}
